chardet
einops
g2pk
joblib
librosa
matplotlib
nltk
numpy>=2.0.0
torch
torchaudio
packaging
pandas
praat-parselmouth
pycwt
pyloudnorm
PyYAML
resampy
Resemblyzer
scipy
six
scikit-image
TextGrid
tqdm
transformers
webrtcvad-wheels
pytorch_revgrad